#icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-around;
    gap: var(--gap-small);
    transition: opacity .3s;
}

#icon-list.waiting {
    opacity: 0.35;
}

.icon-box {
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 130px;
    font-size: var(--font-size-extra-small);
    text-align: center;
    box-sizing: border-box;
    padding: var(--gap-middle);
    cursor: pointer;
    border-radius: var(--border-radius-middle);
    gap: 4px;
    border: unset;
    background-color: transparent;
    animation: icon-box-join .3s ease-out 0s 1;
}

@keyframes icon-box-join {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.icon-box:hover {
    background-color: var(--color-general-glass);
}

.icon-box:active {
    filter: brightness(0.8);
}

.icon-image-box {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.icon-image {
    --icon-preview-size: 48px;
    --icon-pos-x: 0;
    --icon-pos-y: 0;
    width: var(--icon-preview-size);
    height: var(--icon-preview-size);
    background-image: unset;
    background-size: calc(100% * 16);
    background-position-x: calc(var(--icon-pos-x) * -100%);
    background-position-y: calc(var(--icon-pos-y) * -100%);
    filter: invert(1);
    image-rendering: pixelated;
}

@media (prefers-color-scheme: dark) {
    .icon-image {
        filter: brightness(0.9);
    }
}

.icon-name {
    height: 40px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: var(--text-regular);
}

#icon-list-bottom {
    height: 1px;
    opacity: 0;
    pointer-events: none;
    position: relative;
    top: -20vh;
}



#nav-loading {
    color: var(--text-secondary);
    cursor: pointer;
}

.icon-nav {
    display: flex;
    flex-direction: column;
}

.icon-nav-item {
    appearance: none;
    background-color: transparent;
    border: unset;
    display: flex;
    height: var(--height-component);
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--gap-small);
    cursor: pointer;
    font-size: var(--font-size-middle);
    color: var(--text-primary);
    gap: var(--gap-small);
}

.icon-nav-item .icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    fill: var(--text-primary);
}

.icon-nav-item .title {
    flex: 1;
    text-align: left;
}

.icon-nav-item:hover {
    border-radius: var(--border-radius-small);
    background-color: var(--color-general-glass);
}

.icon-nav-item:active {
    filter: brightness(0.8);
}



#icon-detail-dialog-mask {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--dialog-mask-bgcolor);
    z-index: 1000;
}

#icon-detail-dialog {
    width: min(1200px, calc(100vw - 32px));
    min-height: 600px;
    background-color: var(--input-bgcolor);
    border-radius: var(--border-radius-middle);
    display: flex;
    flex-direction: column;
    color: var(--text-regular);
}

.icon-detail-dialog-header {
    display: flex;
    height: 88px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-middle) var(--gap-large);
    color: var(--text-primary);
}

.icon-detail-dialog-info-bar {
    background-color: var(--header-bgcolor);
    height: 48px;
    display: flex;
    align-items: center;
    padding: var(--gap-small) var(--gap-large);
    gap: var(--gap-middle);
    justify-content: space-between;
}

.icon-detail-dialog-info-bar>div {
    display: flex;
    gap: var(--gap-middle);
}

.icon-detail-dialog-content {
    flex: 1;
    display: flex;
    padding: var(--gap-small) var(--gap-large);
    gap: var(--gap-large);
}

.icon-detail-dialog-content .image-wrapper {
    min-width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.icon-detail-dialog-content .icon-preview-wrapper {
    width: 256px;
    height: 256px;
    background-color: #FFF;
    background-image: repeating-conic-gradient(#EEE 0 25%, transparent 0 50%);
    background-size: 32px 32px;
    border: var(--color-general-glass) 4px solid;
    background-clip: content-box;
}

@media (prefers-color-scheme: dark) {
    .icon-detail-dialog-content .icon-preview-wrapper {
        background-color: #7F7F7F;
        background-image: repeating-conic-gradient(#606060 0 25%, transparent 0 50%);
    }
}

.icon-detail-dialog-content .icon-image {
    --icon-preview-size: 256px;
}

.icon-detail-dialog-content .action-wrapper {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-detail-dialog-content .text-component-example-wrapper {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.icon-detail-dialog-content .text-component-example-wrapper label {
    display: inline-block;
    padding: var(--gap-small) 0;
    color: var(--text-regular);
}

.input-copy-button-component {
    display: flex;
    align-items: center;
    gap: var(--gap-extra-small);
}

.text-component-example-item+.text-component-example-item {
    margin-top: var(--gap-middle);
}

#icon-detail-dialog-tag-list {
    min-height: 100px;
    box-sizing: border-box;
    padding: var(--gap-middle) var(--gap-large) var(--gap-large);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-small);
}